body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-bottom: -2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 200px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

button {
  font-size: 15px; 
  margin-top: 10px;
  padding: 6px 55px;
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  background: white;
  transition: .6s ease;
}

.random-btn {
  margin-top: 15px;
} 

button:hover {
  background: black;
  color: white;
}

.result {
  margin-top: 10px;
}

#colorPicker {
  height: 40px;
  width: 60px;
}

#colorInput {
  margin-top: 40px;
}

#redSlide, #greenSlide, #blueSlide {
  margin: 0;
  padding: 0;
}